/*
目次
・カラーなどの定義
・book全体について
・pageについて
・ページ全体について
・about
・works
*/

/* カラーなどの定義 */
@p_w: 500px; //ページwidth値
@p_h: (@p_w * 0.75); //ページheight値
@p_c: #fff4e1; //ページカラー
@p_r: 4px; //border-radius 角の丸み
@p_f: 1.4s; //速度
@p_d: 20%; //暗さ？
@bg: mix(#fff, desaturate(#9ddcdc, 0%), 15%); //色を混ぜる
@l_c: #e67a7a; //リンクカラー

/* book全体について */
.book {
  transition: opacity 0.4s 0.2s; //ふわっとする
}

.book:not(.bound) {
  //opacity: 0;
}

/* pageについて */
.page {
  width: (@p_w);
  height: (@p_h);
  background-color: @p_c;
  float: left; //横並び左寄せ
  margin-bottom: 0.5em;

  &:first-child {
    // .pageの最初の要素
    float: right; //横並び右寄せ
  }

  &:nth-child(even) {
    clear: both; //要素は先行する左右両方の浮動要素と切り離され、下に移動
  }
}

.bound {
  perspective: 250vw; //遠近感・立体感

  .pages {
    width: (@p_w * 2); //見開きのページ幅
    height: @p_h;
    position: relative; //親要素を起点に
    transform: rotateX(12deg); //水平軸に回転
    transform-style: preserve-3d; //傾く角度
    backface-visibility: hidden; //裏側を可視化しない
    border-radius: @p_r;
    box-shadow: 0 0 0 1px @bg;
  }

  .page {
    color: #757575; //文字色
    float: none; //要素は浮動しない
    clear: none; //要素は先行する浮動要素と切り離されず、下に移動しません
    margin: 0;
    padding: 15px;
    position: absolute; //親要素に対して相対配置
    top: 0;
    width: @p_w;
    height: @p_h;
    background-color: @p_c;
    transform-origin: 0 0; //座標変換の原点
    transition: transform @p_f; //プロパティ名　速度
    backface-visibility: hidden;
    transform-style: preserve-3d; //子要素を3D空間に配置
    cursor: pointer;
    user-select: none; //テキストの範囲選択不可

    &:before {
      content: ""; //任意の文字列
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: fadeout(#000, 100%);
      transition: background (@p_f / 2);
      z-index: 2; //重なり 上に表示
    }

    &:nth-child(odd) {
      //奇数(右)ページ
      pointer-events: all; //allはSVGのみらしい? 調整必要かもしれない
      transform: rotateY(0deg);
      right: 0;
      border-radius: 0 @p_r @p_r 0;

      &:hover {
        transform: rotateY(-10deg);
        &:before {
          background: fadeout(#000, 97%);
        }
      }

      &:before {
        background: fadeout(#000, 100%);
      }
    }

    &:nth-child(even) {
      //偶数(左)ページ
      pointer-events: none;
      transform: rotateY(180deg); //縦軸に180度回転(右にめくる)
      transform-origin: 100% 0;
      left: 0;
      border-radius: @p_r 0 0 @p_r;

      &:before {
        background: fadeout(#000, (100% - @p_d));
      }
    }

    &.grabbing {
      transition: none;
    }

    &.flipped {
      &:nth-child(odd) {
        pointer-events: none;
        transform: rotateY(-180deg); //縦軸に180度回転(左にめくる)
        &:before {
          background: fadeout(#000, (100% - @p_d));
        }
      }

      &:nth-child(even) {
        pointer-events: all;
        transform: rotateY(0deg);

        &:hover {
          transform: rotateY(10deg);
          &:before {
            background: fadeout(#000, 97%);
          }
        }

        &:before {
          background: fadeout(#000, 100%);
        }
      }
    }
  }
}

// General
* {
  &,
  :before,
  &:after {
    box-sizing: border-box;
  }
}

/* ページ全体について */
html,
body {
  background: @bg;
  opacity: ;
  -webkit-tap-highlight-color: fadeout(#000, 100%);
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
  line-height: 1.5em;
}

// These Pages
.page:nth-child(3), //.pageクラスの(n)番目の要素
.page:nth-child(5),
.page:nth-child(7),
.page:nth-child(9) {
  // background-position: right top; 画像設定するなら必要
}

.page:nth-child(1) {
  // background-image: url(./img/05.jpg); 背景画像
}
.page:nth-child(2),
.page:nth-child(3) {
}
.page:nth-child(4),
.page:nth-child(5) {
}
.page:nth-child(6){

}
.page:nth-child(7) {
  // background-image: url(./img/quiz.png);
}
.page:nth-child(8),
.page:nth-child(9) {
}
.page:nth-child(10) {
}

/* about */
.skill img{
  width: auto;
  height: 30px;
}

/* works */
dl {
  font-size: small;
}
img {
  width: auto;
  height: 100px;
}

.works dl {
  font-size: small;
  display: flex;
  flex-wrap: wrap;
}

.works dt {
  width: 20%;
}

.works dd {
  width: 80%;
}

.linkdiv {
  background: @l_c;
  text-decoration: none;
  position: fixed;
  top: 360px;
  display: none;
  margin: 1.5em 0;
  padding: 27px 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  z-index: 1000;
}

.github {
  background: @l_c;
  text-decoration: none;
  position: fixed;
  top: 360px;
  left: 150px;
  display: none;
  margin: 1.5em 0;
  padding: 27px 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  z-index: 1000;
}

.link{
  color: @p_c;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}